body{
    background-image: url(/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 1000px;
    width: 1000px;
}
h1{
    background-image: radial-gradient(white,grey,black );
    height: 300px;
    width: 300px;
}

#div1{
    color: red;
}

#LG{
    color: green;
}

#Apple{
    color: initial;
}

#Nokia{color: inherit;}