.header{
    margin-top: 25px;
    min-height: 80px;
}
.logo h1{
    padding: 6px;
    font-size: 25px;
    margin: 0;
    font-weight: 600;
}
.logo h1 span:first-of-type{
    
    padding: 0px 18px;
    border: 1px solid #ddd;
    margin-right: 5px;
    color: #D19C97;

}


.search-product input{
    width: 70%;
    height: 32px;
    border-radius: 0;
    padding: 10px;
    font-size: 20px;
    color: #666;
    border: 1px solid #ddd;
    border-right: none;
}

.search-product input:focus{
   outline: none;
}
.search-product button{
    border-radius: 0px;
    border: 1px solid rgb(221, 221, 221);
    margin-left: -5px;
    height: 53px;
    font-size: 15px;
    padding: 19px 15px;
    color: rgb(209, 156, 151);
    background-color: rgb(255, 255, 255);
}
.selected-product{
    text-align: right;
    /* margin-top: 8px; */
}

.next-row{
    clear: both;
}

.full-banner-wrapper{
    border-top: 1px solid #ddd;
}

.margin-right-5{
    margin-right: 5%;
}

@media only screen and (max-width:1970px) {
    .search-product{
        display: flex;
    }
    .search-product input{
        flex: 100%;
    }
 }